<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="Discover" icon-off="ion-ios-eye" icon-on="ion-ios-eye-outline" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Design" icon-off="ion-ios-compose" icon-on="ion-ios-compose-outline" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="About" icon-off="ion-ios-help" icon-on="ion-ios-help-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!--Angeliki Tab-->
  <!--ion-tab title="Angeliki" icon-off="ion-ios-glasses" icon-on="ion-ios-glasses-outline" href="#/tab/angeliki">
    <ion-nav-view name="tab-angeliki"></ion-nav-view>
  </ion-tab>-->


</ion-tabs>
